body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1502877338535-766e1452684a') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.area-titulo {
    margin-top: 50px;
    font-size: 2rem;
    color: #e63946;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.equipo-oculto {
    display: none;
    margin-top: 15px;
}

.subcards {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.subcard {
    background: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
}

.subcard img {
    width: 100%;
    border-radius: 10px;
}

.subcard i {
    font-size: 20px;
    color: #0a66c2;
    margin-top: 5px;
}

.subcard i:hover {
    color: #004182;
}

.card i {
    font-size: 20px;
    color: #0a66c2;
    margin-top: 5px;
}

.card i:hover {
    color: #004182;
}

.card, .subcard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover, .subcard:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 20px rgba(80, 200, 120, 0.6);
    border: 1px solid rgba(46, 204, 113, 0.8);
}
.area-titulo {
    text-align: center;
    color: #2ecc71;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.contenido {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 40%;
}

.contenido h1 {
    font-size: 2rem;
}

.contenido p {
    font-size: 1rem;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}



