body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1502877338535-766e1452684a') center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}